{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="home-img">
        <div class="header">
            <div class="nav">
                <ul>
                    <li><a href="{{ path('app_home_config') }}">Home config</a></li>
                </ul>
            </div>
        </div>

        <div class="home-container">
            <h1>Welcome to IoT Application</h1>
            <div class="home-description">
                <p>Our innovative IoT application powered by Symfony allows seamless control of lighting across different rooms in your home.
                <p>With just a few taps on your smartphone or clicks on your computer, you can control the light.</p>
            </div>

            <div class="home-button">
                <a href="#">Let's Start!</a>
            </div>
        </div>
    </div>

    <div class="home-features-container">
        <h2>How does it work?</h2>

        <div class="home-features">
            <div class="home-features-item">
                <p>Symfony</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error optio sed vero? Deleniti ea expedita inventore quia quod reprehenderit voluptatibus? A aperiam eius eligendi est ex nobis nostrum obcaecati perferendis quo quod reiciendis repellat saepe, sapiente, vel voluptas. Magnam, recusandae!</p>
            </div>
            <div class="home-features-item">
                <p>ESP</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error optio sed vero? Deleniti ea expedita inventore quia quod reprehenderit voluptatibus? A aperiam eius eligendi est ex nobis nostrum obcaecati perferendis quo quod reiciendis repellat saepe, sapiente, vel voluptas. Magnam, recusandae!</p>
            </div>
            <div class="home-features-item">
                <p>Database</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error optio sed vero? Deleniti ea expedita inventore quia quod reprehenderit voluptatibus? A aperiam eius eligendi est ex nobis nostrum obcaecati perferendis quo quod reiciendis repellat saepe, sapiente, vel voluptas. Magnam, recusandae!</p>
            </div>
        </div>
    </div>


{% endblock %}
