{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="login--form">
            <div class="flash">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
            <p class="login-p">Login</p>
            <form action="{{ path('app_login', {service: 'myOauthService'}) }}" method="POST">
                <div class="login--form__inputs">
                    <input type="text" name="_username" placeholder="Username">
                    <input type="password" name="_password" placeholder="Password">
                </div>
                <div class="login--form__buttons">
                    <button type="submit">Login</button>
                    <a href="{{ path('auth_oauth_connect', {service: 'google'}) }}" class="google-login">
                        <img class="google-img" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/google/google-original.svg" />Continue with Google
                    </a>
                    <p>Don't have account? <a href="#">Register!</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
