* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem;
    border: none;
    outline: none;
    background-color: #3b82f6;
    color: #fff;
    border-radius: 10rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.header, .nav {
    width: 100%;
}

.header {
    padding: 4rem 10rem;
    font-size: 2rem;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}

.nav ul li {
    position: relative;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav ul li a::after {
    position: absolute;
    top: 2.5rem;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

.nav ul li a:hover::after {
    width: 100%;
}

.home-img {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(91, 112, 243, 0.8), rgba(72, 80, 185, 0.8)), url("../Images/coding.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

.home-container {
    padding: 4rem 10rem;
    color: #fff;
}

.home-container h1 {
    font-size: 4rem;
    letter-spacing: .8rem;
}

.home-container p {
    font-size: 2.5rem;
}

.home-description {
    margin-top: 2rem;
}

.home-button {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

.home-button a {
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    padding: 2rem;
    background-color: #55e0a3;
    width: 18rem;
    border-radius: 10rem;
    transition: transform 0.3s;
}

.home-button a:hover {
    transform: translateY(-.5rem);
}

.home-features-container {
    margin-top: 5rem;
    padding: 4rem 10rem;
}

.home-features-container h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.home-features {
    display: flex;
    justify-content: space-between;
}

.home-features-item {
    width: 30%;
    font-size: 2.5rem;
    padding: 3rem;
    background-color: rgba(128, 255, 219, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.home-features-item p:last-child {
    font-size: 2.3rem;
    margin-top: 2rem;
    letter-spacing: .1rem;
}

.home-config-container {
    padding: 4rem 10rem;
}

.home-config-info {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(91, 112, 243, 0.8), rgba(72, 80, 185, 0.8)), url("../Images/coding.jpg");
}

.login--form p {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
}

.login--form__inputs {
    display: flex;
    flex-direction: column;
}

.login--form__inputs input {
    width: 22rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 10rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.login--form {
    padding: 7rem 4rem;
    width: 60rem;
    background-color: rgba(85, 224, 163, 0.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
}

.login--form__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login--form__buttons button {
    width: 15rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.login--form__buttons a {
    width: 20rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: 10rem;
}

.login--form__buttons a img {
    width: 1.8rem;
    margin-right: 1rem;
}

.google-login {
    display: flex;
    justify-content: center;
}

.login--form__buttons p {
    font-size: 1.8rem;
    margin-top: 2rem;
}


.login--form__buttons p a {
    background-color: #3b82f6;
    color: #fff;
    padding: 1rem 4rem;
}

.form-control {
    display: flex;
    justify-content: center;
}

.form-control div label {
    display: none;
}

.flash {
    display: flex;
    justify-content: center;
}

.flash-success {
    color: #227552;
    font-size: 1rem;
}
















@media screen and (max-width: 1000px) {
    .home-img {
        height: auto;
    }

    .home-container,
    .header {
        padding: 4rem 2rem;
    }

    .home-img{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .home-button {
        margin-top: 20rem;
    }

    .home-button a {
        width: 40%;
        padding: 2rem;
        font-size: 3rem;
    }

    .home-container h1 {
        font-size: 4.5rem;
    }

    .home-description p {
        font-size: 4rem;
    }

    .nav ul li a {
        font-size: 3rem;
    }

    .home-features {
        flex-direction: column;
    }

    .home-features-item {
        width: 100%;
        margin-bottom: 4rem;
    }

    .home-features-item p:first-child {
        font-size: 4rem;
    }

    .home-features-item p:last-child {
        font-size: 3.5rem;
    }

    .home-features-container h2 {
        font-size: 6rem;
    }

    .login-container {
        background-image: linear-gradient(to right bottom, rgb(86, 100, 205), rgb(70, 85, 155));
    }

    .login--form p:first-child {
        font-size: 6rem;
    }

    .login--form__inputs input {
        width: 40rem;
        font-size: 3rem;
        padding: 1rem;
    }

    .login--form__buttons button {
        width: 30rem;
        padding: 1.5rem;
        font-size: 2rem;
    }

    .google-login{

    }
}




