{% extends 'base.html.twig' %}

{% block title %}Home config{% endblock %}

{% block body %}
    {{ include('components/_custom_nav.html.twig')  }}

    <div class="home-config-container">
        <h1>Select your home</h1>

        <div class="flex">
            <div class="home-config-info">
                <div class="home-config__home-info">
                    <p>Your home</p>
                    <div class="info">
                        <p>City: Ustka</p>
                        <p>Address: Zielona 1</p>
                        <p>Owner: Kacper Karabinowski</p>
                    </div>
                    <div class="config-button">
                        <a href="#">Config Home</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="add-home">Add Home</h2>
        <div class="add-home-form">
            <form action="#" method="post">
                <div class="form-group">

                    <div class="home-input">
                        <p>Enter name</p>
                        <input placeholder="name">
                    </div>

                    <div class="home-input">
                        <p>Enter City</p>
                        <input placeholder="city">
                    </div>

                    <div class="home-input">
                        <p>Enter Address</p>
                        <input placeholder="address">
                    </div>

                    <button class="add-home-button" type="submit">Add home</button>

                </div>
            </form>
        </div>
    </div>
{% endblock %}
